@tailwind base;
@tailwind components;
@tailwind utilities;

/* On force le mode clair pour tout le monde */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: black !important;
  background: white !important;
}

/* Force les champs de saisie à être lisibles */
input, select, textarea {
  color: black !important;
  background-color: white !important;
}

input::placeholder {
  color: #999 !important;
}